.clean-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
}
