.clean-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  color: #fff;
  background-color: var(--clr-primary);
}

.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
}
