.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-auto-flow: column;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.main-layout {
  max-width: 1080px;
  margin: 0 auto;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
