@media (min-width: 860px) {
  .meme-editor .canvas-container {
    flex-basis: 50%;
  }
}

@media (min-width: 920px) {
  .nav-burger {
    display: none;
  }
  .main-nav {
    justify-content: space-around;
    padding: 1rem 0;
  }

  .info {
    padding: 2rem 0;
  }

  .search {
    gap: 2rem;
  }

  .tags {
    gap: 2rem;
  }
}

@media (max-width: 920px) {
  .main-layout {
    padding: 0 1rem;
  }
  .nav-list {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    opacity: 0;
    background-color: var(--clr-primary);
    transform: translateX(100%);
    transition: transform 0.2s ease, opacity 0.2s ease;
  }

  body.show-menu .nav-list {
    transform: rotateX(0);
    opacity: 1;
  }

  .main-nav {
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-list li {
    border-bottom: 2px solid var(--clr-secondary);
    padding: 2rem;
  }

  .meme-editor {
    flex-direction: column;
  }

  .info {
    padding: 0.5rem 0;
  }

  .search {
    gap: 0.5rem;
  }

  .tags {
    gap: 0.5rem;
  }
}
