.about {
  display: flex;
  text-align: center;
  gap: 2rem;
  margin-top: 25%;
  align-items: center;
}

.about > * {
  flex-basis: 50%;
}

.about img {
  border-radius: 50%;
  width: 250px;
}

.hide-about {
  display: none;
}
