.gallery-container {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s ease-in;
}

.gallery {
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

.gallery img {
  cursor: pointer;
}

.gallery img:hover {
  outline: 8px solid var(--clr-img-hover);
}

.hide-gallery {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-out;
  display: none;
}

.page-btns button {
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.2rem;
}

.current-page {
  background-color: var(--clr-img-hover);
  color: aliceblue;
}
