.gallery {
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 0.5rem;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s ease-in;
}

.gallery img {
  cursor: pointer;
}

.gallery img:hover {
  outline: 4px solid var(--clr-img-hover);
}

.hide-gallery {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-out;
  display: none;
}
