/* Main Header */
header {
  background-color: var(--clr-pumpkin-orange);
}

/* Main Nav */
.main-nav {
  /* height: calc(10vh + 1rem); */
  align-items: center;
}

/* Logo */

.logo {
  height: 3rem;
  cursor: pointer;
}

/* Nav Links */

.nav-list a {
  padding: 1rem;
}

.nav-list a:hover {
  color: var(--clr-secondary);
  font-weight: bold;
  text-decoration: none;
}

/* Language Select */

.main-nav select {
}

/* Notification */

.nav-list a.notification::after {
  content: '*';
}

/* NAV BURGER */
.nav-burger {
  border: none;
  background-color: transparent;
  color: var(--clr-primary);
  font-size: 2rem;
  cursor: pointer;
}

.nav-burger:hover {
  color: #fff;
}
