.info {
  padding: 2rem 0;
  gap: 2rem;
  text-align: center;
}
.search {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 50%;
}

.tags {
  flex-basis: 50%;
  justify-content: space-between;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tags ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  gap: 2rem;
}

.tags ul li {
  cursor: pointer;
}
