.main-screen {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.6s;
}

body.show-menu .main-screen {
  opacity: 1;
  pointer-events: auto;
}
